* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#header #mToggleArrow {
	z-index: 10000 !important;
}

/* ----------------------------
----------- OVERALL_HEADER - CABEZA DE PÁGINA
-----------------------------*/
/*Fondo de la página*/
body {
	height: auto;
	background: url("https://i.imgur.com/BJnBNQJ.png");	
	background-color: #111;
	background-size: auto;
	margin: 20px 0px 20px 0px;
	padding:0;
	color: #9C9C9C;
	font-family: 'Montserrat';
	font-size: 10px;
}
/*Fondo de todo el contenido*/
#wrap {
	max-width: 1240px;
	min-width: 970px;
	width: auto;
	margin-top: -60px;
	background-color: #FEFEFE;
	background: url("https://i.imgur.com/6IVSPQc.png") repeat;
	border: none;
	padding: 10px 20px;}

/*Cuerpo de la cabecera*/
.headerbar {
	display: none;
	height: auto ;
	padding: 0px;}
#page-header {
	height: auto;
	background-color: transparent;
	padding: 0px;}
/*Cuerpo de el inicio y fin de la página*/
#page-body, #page-footer {
	width: 950px;
	margin: auto;
	padding: 25px;
	background-color: transparent;
}
	#content-container div#content {
		margin-right: 0px;
	}

/* ----------------------------
----------- CABECERA
-----------------------------*/

/*BARRAS DE NAVEGACIÓN*/
#page-header {
	background-image: url("https://imgur.com/FCFwALD.png");
	background-position: center 10px;
	background-repeat: no-repeat;
	background-size: contain;
	max-width: 1200px;
	min-width: 970px;
	height: 750px;
	margin-bottom: -150px;
	padding: 0px 50px;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;}
@media (min-width: 1100px), @media (min-device-width: 1100px) {
    #page-header {margin-bottom: 0px;}}

#page-header .navbar {
	display: block}
.navbar {
	background-color: #111111;
	padding: 10px;
	font-family: 'Open Sans Condensed';
	color: #F6F6F6;}
.navbar a:link {
	font-family: 'Open Sans Condensed';
	color: rgba(246, 246, 246,1);}
.navbar a:visited {color: rgba(246, 246, 246,1);}
.navbar a:hover {color: #DD2F3A !important;}



/* ----------------------------
----------- TABLON DE ANUNCIOS
-----------------------------*/
.panel.introduction {
	padding: 10px 0px;
}
#tab {
	display: inline-block;
	position: relative;
	width: 900px;
	height: 252px;
	background-color: #F2F2F2;
	margin: 0 auto;
	text-align: center;}
.tab-titulos, .tab-contenido {
	display: table;
	position: relative;
	width: 900px;
	height: 250px;
	background-image: url('http://i.imgur.com/Fft0Fzg.png');
	border-spacing: 20px;
	padding: 50px 0px 10px 0px;}
.tab-contenido {
	position: absolute;
	top: 0px;
	background-image: url('http://i.imgur.com/7aY97EW.png');
	background-color: #F8F8F8;}

	/*CELDA*/
	.tab-row {
		display: table-row;
		height: 150px;
		background-color: rgba(204,204,204,.0);}
	.tab-cell {
		display: table-cell;
		border: 1px solid rgba(17,17,17,.1);}
		.intro  {
			width: 200px;
			border: 1px solid rgba(17,17,17,.0);
			vertical-align: bottom;	}
		.anuncios {width: 300px;}
		.censo {width: 150px; vertical-align: top;}
		.staff {width: 150px; vertical-align: top;}
	
	/*TITULOS*/
	/*INTRO BOTON*/
	.tab-boton, .tab-boton.active {
		cursor: pointer;
		position: absolute;
		top: 0;
		background: url('http://i.imgur.com/Ds2UwQO.png') no-repeat;
		background-size: cover;
		width: 213px;
		height: 214px;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;}
	.tab-boton {
		width: 90px; height:90px;}
		
	.tab-boton:hover, .tab-boton.active:hover {background: url('http://i.imgur.com/eJSECg9.png') no-repeat;
		background-size: cover;
		transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;}
	
	.tab-titulos h1,
	.tab-contenido h1 {
		display: block;
		position: absolute;
		margin: 0 !important;
		font-family: 'Montserrat' !important;
		font-weight: 400 !important;
		text-align: left;
		line-height: 100%;
		white-space: pre-wrap;
		word-wrap: break-word;
		/*textura de texto*/
		-webkit-text-fill-color: transparent;
		background-size: contain;
		background: -o-linear-gradient(transparent, transparent);
		-webkit-background-clip: text!important;}
	.tab-titulos h1 {
		top: 140px;
		width: 100px;
		padding: 0px 10px !important;
		font-size: 35px;
		/*textura de texto*/
		background: -webkit-linear-gradient(transparent, transparent), top right url(http://i.imgur.com/ss82wo7.png);}
	.anuncios h1 { width: 150px;}
	
	.tab-contenido h1 {
		top: 40px;
		width: 150px;
		padding: 0px !important;
		font-size: 25px;
		white-space: normal;
		word-wrap: normal;
		/*textura de texto*/
		background: -webkit-linear-gradient(transparent, transparent), 50% 30% url(http://i.imgur.com/wINoTAi.png);}
	.censo .sub b {
		font-family: 'Open Sans Condensed';
		font-size: 18px; 
		-webkit-text-fill-color: #DD2F3A;}
	
	/*CONTENIDO*/
	/* ----------- INTRO*/
	.intro ul {
		list-style: none !important;
		padding-left: 50;
		margin: 0 ;
		text-align: left;
	}
	.intro li:before {
		content: '+';
		display: inline-block;
		margin-right: 5px;
		color: #525252;
		font-family: 'Verdana';
		font-size: 15px;
		font-weight: 700;
		line-height: 13px;
		/* Rotate div */
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transition: all .3s ease;
		-moz-transition: all .3s ease;
		-webkit-transition: all .3s ease;}
	.intro li a {
		color: #111;
		font-family: 'Open Sans Condensed';
		font-size: 13px;
		font-weight: 700;
		line-height: 15px;
		letter-spacing: 3px;}
	.intro li:hover:before,
	.intro a:hover {color: #DD2F3A;}
	
	/* ----------- ANUNCIOS*/
	.anuncios .a-nota {
		display: inline-block;
		width: 95px;
		height: 148px;
		text-align: left;
		padding: 2px;}
	.anuncios h2, .censo h2, .staff h2 {
		margin: 0px 0;
		padding: 2px;
		color: #DD2F3A;
		font-family: 'Open Sans Condensed';
		font-size: 16px;
		font-weight: 700;
		line-height: 17px;}
	.anuncios h2 b, .censo h2 b {
		color: #111;
		font-size: 11px;
		text-transform: uppercase;}
	.anuncios span a {
	
		display: block;
		height: 120px;
		margin: 0;
		margin-bottom: 0px;
		padding: 0;
		color: #9C9C9C;
		font-size: 11px;
		line-height: 12px;
		text-transform: none;
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 10;
		-webkit-box-orient: vertical;}
	.anuncios .a-nota a:hover {
		color: #C9C9C9;
		text-shadow: none;}
	.anuncios .s-m-t-tooltip {
		background: #111 !important;
	}
	/* ----------- CENSO*/
	.tab-contenido .censo {
		background: url('http://i.imgur.com/f7v1tvq.png');
		background-size: contain;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
	}
	.censo .c-grupo {
		display: inline-block;
		width: 70px;
		margin: 0;}
	.censo i, .staff i {
		font-size: 15px;
		line-height: 15px;}
	.censo .hr-v, .censo .hr-h {
		border-width: 1px 1px 0px 0px;
		border-style: solid;
		border-color: #C9C9C9;}
	.censo img {
		margin: 16px 5px;
	}
		
	/* ----------- STAFF*/
	.staff .s-user {
		width: 150px;
		height: 75px;
		padding: 10px;
	}
	.staff .s-user-info {
		background-color: rgba(17,17,17,.6);
		padding: 5px 0px;
		opacity: 0;
		font-family: 'Montserrat';
		transition: all .7s ease-out;
		-moz-transition: all .7s ease-out;
		-webkit-transition: all .7s ease-out;}
	.staff .s-user:hover .s-user-info {opacity: 1;}
	.staff .s-user h2, .staff .s-user i {color: #C9C9C9;}
	.staff .s-user i {
		padding: 5px;
		transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-webkit-transition: all .3s ease-out;}
	.staff .s-user i:hover {color: #9C9C9C;}

/* ----------------------------
----------- SIDEBAR
-----------------------------*/
#left div::-webkit-scrollbar-thumb:vertical {
	background-color: #111111;
	width: 5px;
	margin: 5px;
	border-top: 5px solid #F2F2F2;
	border-right: 5px solid #F2F2F2;
}
#left div::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #F2F2F2;
	border-top: 5px solid #F2F2F2;
	border-right: 5px solid #F2F2F2;
}
#content-container div#left {
	z-index: 98;
	position: fixed;
	top: 35px;
	right: 0;
	float: none !important;
	width: 240px;
	height: 90%;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}
#forum-widget {
	z-index: 100;
	position: fixed;
	right: 0;
	top: 25px;
	cursor: pointer;
	width: auto;
	height: 30px;
	background-color: transparent;
	margin: 0px;
	padding: 5px;
	text-shadow: 0px 2px 2px #111111;
	transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
#forum-widget .tacha {
	font-size: 30px !important;
}
#left .module {
	padding: 0px;
	color: #333;
}

	/* ----------- PERSONALIZADO */
	/*CAJA COMPLETA*/
	#sidebar-tab {
		display: block;
		width: 240px;
		height: 100%;
		background-color: transparent;
		margin: 0px;
		padding: 0px;
		overflow: auto;}
	/*BOTONES CUERPO*/
	#sidebar-botones {
		float: right;}
	#sidebar-botones div {
		display: block;
		position: relative;
		opacity: .5;
		width: 30px;
		height: 30px;
		background-image: url('http://i.imgur.com/cVOVtqf.png');
		margin: 0px 5px 10px 5px;
		border-radius: 1px;
		padding: 0px;
		color: #111111;
		text-align: center;
		cursor: pointer;
		transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;}
	
		#sidebar-botones div .botonicono {
			font-size: 20px;
			line-height: 30px;}
		#sidebar-botones div:hover  { 
			opacity: 1;
			transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			-webkit-transition: all 0.5s ease-out;}
		#sidebar-botones .activo {
			cursor: pointer;
			opacity: 1;}
	
	/*CONTENIDO CUERPO*/
	.sidebar-cont {display: block;}
	.sidebar-info {
		position: absolute;
		display: none;
		height: 100%;}
	.sidebar-contenido {
		z-index: 2;
		float: right;
		width: 200px;
		min-height: 200px;
		max-height: 100%;
		background: url('http://i.imgur.com/d1BXbEr.png') top left local, url('http://imgur.com/SzIY42N.png') bottom left;
		background-repeat: no-repeat;
		overflow: auto;}
	  /*ESTILO DE CONTENIDO*/
	  .sidebar-widget {
		  padding: 10px;
		  text-transform: uppercase;
		  font-size: 9px;}
	  .sidebar-widget .h3 {display: none}
	  .sidebar-widget #widget-ultimostemas, 
	  .sidebar-widget #widget-quienestaenlinea, 
	  .sidebar-widget #widget-busquedas {margin-top: 10px;}
		/*titulos 2/3/4*/
		.sidebar-widget .sidebar-titulo {
			margin-bottom: 0px;
			border-bottom: 1px solid #DD2F3A;
			padding: 0px 5px 5px 5px;
			color: #F6F6F6;
			font-family: 'Open Sans Condensed';
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 5px;
			text-transform: uppercase;
			text-shadow: 1px 0px 0px #111111,-1px 0px 0px #DD2F3A, 2px 0px 0px #111111,-1px 0px 0px #DD2F3A, 3px 0px 0px #111111,-1px 0px 0px #DD2F3A;}
		.sidebar-widget .sidebar-subtitulo {
			display: block;
			border-top: 2px solid #111111;
			padding: 5px 5px;
			color: #111;
			font-family: 'Open Sans Condensed';
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 2px;
			text-transform: lowercase;}
		/*link*/
		.sidebar-widget a {
			font-weight: 700;
			font-size: 10px;}
			/*conexión*/
			.sidebar-widget #widget-conexion {
				margin-top: 10px;}
			.sidebar-widget #widget-conexion .h3 {display: block;}
			.sidebar-widget #widget-conexion .h3 {
				display: table-cell;
				width: 170px;
				height: 60px;
				padding: 0px;
				padding-left: 10px;
				font-family: 'Open Sans Condensed';
				font-size: 12px;
				letter-spacing: 1.5px;
				text-align: center;
				vertical-align: middle;}
			.sidebar-widget #widget-conexion .h3 b {
				display: block;
				padding: 5px 0px;
				color: #9C9C9C;
				font-size: 18px;
				text-shadow: 0px 1px 1px #111;
				line-height: 95%;
				letter-spacing: .5px;}
			.sidebar-widget .sidebarsubtitulo {
				display: block;
				width: 160px;
				margin: 10px 5px 0px 5px; 
				padding: 5px 5px;
				color: #111;
				font-family: 'Montserrat';
				font-size: 10px;
				font-weight: 400;
				line-height: 100%;
				text-align: justify;
				text-transform: none;}
			.sidebar-widget .sidebarsubtitulo b,
			.sidebar-widget .sidebarsubtitulo i {
				font-size: 10px;
				text-transform: uppercase;
				text-shadow: none;
				text-align: left;}
			.sidebar-widget .sidebarsubtitulo i {
				display: block;
				padding: 3px 1px;
				font-weight: 700;
				font-style: normal;
				text-align: center;}
				/*conectado*/
				.mod-login-avatar img {
					width: 90px;
					margin: 0px;
					border-radius: 0px;}
				.mod-login-avatar dt {
					border-radius: 0px;
					border: 1px solid #C9C9C9;
					padding: 5px;}
				.mod-login {
					padding-top: 25px;}
				/*sin conexion*/
				#widget-conexion form {
					text-align: right;}
				#widget-conexion p {
					margin-bottom: 5px;
					padding: 0px 10px;
					font-size: 9px;}
			/*link de conexion*/
			#my-top-linklist {
				margin-left: 5px;
				border-left: 1px solid #9C9C9C;
				padding-left: 5px}
			#my-top-linklist a {display:block; color: #111;}
			#my-top-linklist a:hover {color: #DD2F3A;}
			
			/*ultimos temas*/
			.sidebar-widget .temareciente {
				background: rgba(204,204,204,.3);
				margin-bottom: 5px;
				border: 1px solid #C9C9C9;
				padding: 3px 5px;}
			.sidebar-widget .temareciente-link {
				margin-bottom: 3px;
				border-bottom: 1px solid #9c9c9c;
				text-align: left;
				text-transform: none !important;}
			.sidebar-widget .temareciente-link a {
				text-transform: none !important;
				color: #111;
				font-size: 11px;}
			.sidebar-widget .temareciente-link a:hover {color: #DD2F3A;}
			.sidebar-widget .temareciente-info {text-align: right; line-height: 95%}

			/*estadisticas*/
			.sidebar-widget strong a span strong {
				display: block;
				padding-top: 10px;
				font-family: 'Open Sans Condensed';
				font-size: 18px;
				line-height: 100%;
				text-align: center;}
			/*busquedas*/
			.sidebar-widget #widget-busquedas .topictitle {
				display: block;
				background: rgba(204,204,204,.3) url('http://i.imgur.com/JrbPcUd.png') no-repeat 5px center;
				background-size: 10px;
				margin-bottom: 5px;
				border: 1px solid #C9C9C9;
				padding: 7px;
				padding-left: 25px;}
			.sidebar-widget #widget-busquedas .topictitle:hover {
				background: url('http://i.imgur.com/4tpDaSp.png') no-repeat 5px center;
				background-size: 10px;}

/* ----------------------------
----------- ESTILO DE LINKS
-----------------------------*/
/* link sin visitar*/
a:link {
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-decoration: none !important;
	text-shadow: -1.5px -1.5px 0px transparent;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
a:hover {
    color: #DD2F3A;
	text-decoration: none !important;
	text-shadow: -.1em -.1em 0px rgba(221,47,58,.3) ;
}

/*HOVER DE USUARIOS*/
a.gensmall, a span strong {
	text-shadow: none;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
b a.gensmall:hover, a:hover span strong {
	text-shadow: none;}
/* ----------------------------
----------- ESTILO DE TITULOS	
-----------------------------*/
/*TITULO PRINCIPAL DE CADA PAGINA*/
h1, .catHead {
	margin: 0px 0px 20px 0px !important;
	font-family: 'Open Sans Condensed' !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	padding: 10px !important;
}
	.page-title, table.forumline td.catHead, table.forumline tr:hover td.catHead {
		background-color: #111111;
		color: #F6F6F6 !important;
	}
	
	h1.forum-page-title {
		margin-bottom: 0px !important;
		border-color: #DD2F3A;
		border-style: solid;
		border-width: 0px 0px 5px 0px;
		padding: 5px 10px !important;
		font-size: 30px;
		line-height: 30px;
	}
	.forum-page-title a:link {
		font-family: 'Open Sans Condensed' !important;
		color: rgba(221,47,58,1);
	}
	.forum-page-title a:visited {
		color: rgba(221,47,58,.8);
	}
	.forum-page-title a:before {
		content: '✖';
		float: left;
		display: inline-block;
		margin-right: 5px;
		color: #DD2F3A;
		font-size: 22px;
		line-height: 30px;
	}
	.forum-page-title a:hover:before {
		color: #111111;
	}

h2 {
	color: #111111;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	line-height: 105%;
}
	.table-title h2 {
		color: #111;
		font-family: 'Montserrat' !important;
		font-size: 40px;
		font-weight: 400 !important;
		line-height: 105%;
	}
	.table-title h2:before {
		content: url(http://i.imgur.com/1cmz48O.png);
		display: inline-block;
		float: left;
		margin-right: 15px;
	}
	/*Titulo en una pagina aislada*/
	.forum-page-title + /*.categorias*/ .table-title h2 {
		color: #9C9C9C; font-size: 30px;}
	.forum-page-title + /*.categorias*/ .table-title h2:before {display: none;}

	.table-title h2 sup {display: none;}
	.table-title h2 sub {display: inline-block;}

sup {
	vertical-align: baseline;
	font-size: inherit;
}
sub {
	display: none;
	vertical-align: baseline;
	font-size: inherit;
}

/* ----------------------------
----------- ESTILO DE SUBTITULOS	
-----------------------------*/
.h3, dl.faq dt, .forumline tr th, .table1 tr th, .table1 .row3 td {
    margin-bottom: 10px !important;
    padding: 3px 20px;
    border-bottom: 2px solid #111111;
    color: #111111;
    font-family: 'Montserrat';
	font-size: 14px;
    font-weight: 700 !important;
    line-height: 100%;
    letter-spacing: 1px;
	text-transform: uppercase;
}
.forumline tr th, .table1 .row3 td {
	border-bottom-color: #9C9C9C;
	font-size: 11px;
	text-transform: lowercase;
}

/* ----------------------------
----------- BOTONES	
-----------------------------*/
.buttons, .buttons div {
	float: none !important;}
.buttons a {
	display: inline-block;
	height: 35px !important;
	overflow: hidden;}
.buttons a img {
	margin-top: 0px;}
.buttons a img:hover {
	margin-top: -35px;}

input.button, input.button1, input.button2 {
	background: #111111 !important;
	border: 0px !important;
	padding: 5px 6px !important;
	color: #F6F6F6 !important;
	font-family: 'Open Sans Condensed' !important;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
input.button:hover, input.button1:hover, input.button2:hover {
	background: #DD2F3A !important;
}

/* ----------------------------
----------- INDEX_BOX - PÁGINA DE BIENVENIDA
----------- ANUNCIO DE CATEGORÍAS	
-----------------------------*/
.top-linklist {display: none;}

/*.categorias*/ {background: transparent;}

/*Categorias OFF ROL*/
/*.categorias*/ .forabg {
	margin: 0px;
	border-top: 20px solid #F3F3F0;
	padding: 0px;
	padding-bottom: 20px;
}
/*.categorias*/ .forabg:first-of-type {
	border-top: 0px;
}

/*Cabecera*/
/*.categorias*/ .forabg .forums {padding: 0 10px;text-align: center;}
/*.categorias*/ .forabg .header {
	height: 130px;
	padding: 20px 30px 20px 30px;
	}
/*.categorias*/ .forabg .header:first-of-type {
	border-top: 20px solid transparent;}
/*.categorias*/ .forabg .header .dterm {
	width: 840px;
	margin: 0;
	border: 2px solid #111;
	padding: 10px 15px;}
	/*Header en un página aislada*/
	.forum-page-title + /*.categorias*/ .forabg .header {
		height: 50px;
		border: none !important; 
		padding: 0px;}
	.forum-page-title + /*.categorias*/ .forabg .header .dterm {border: none;}
/*.categorias*/ .forabg .header .topics, 
/*.categorias*/ .forabg .header .posts, 
/*.categorias*/ .forabg .header .lastpost {display: none;}

/*Cuerpo*/
/*.categorias*/ .forabg .row {
	position: relative;
	display:  inline-table;
	width: 380px !important;
	margin: 10px 10px;
	padding: 5px 10px;}
	/*.categorias*/ .forabg .row:hover {
		background-color: transparent;}
/*.categorias*/ .forabg .row .icon {
	background-position: 0px 0px !important;
	margin: -6px -11px;
	padding: 0px;}
	
/*.categorias*/ .forabg .row .dterm {
	display: table;
	width: 100%;
	padding: 20px 10px 0px 10px;
	text-align: center;}
	a.forumtitle, a.forumtitle sup {
		color: #DD2F3A;
		font-family: 'Montserrat';
		font-size: 25px !important;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 100%;}
	a.forumtitle:hover {text-shadow: -.1em -.1em 0px rgba(221,47,58,.3);}
/*.categorias*/ .forabg .row .topics {
	margin: 0px 0px 0px 0px;
	color: #525252;
	font-family: 'Montserrat';
	font-size: 8px;
	font-weight: 400;
	line-height: 11px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;}
	/*.categorias*/ .forabg .topics dfn {display: inline-block; font-style: normal;}
/*.categorias*/ .forabg .row .description {
	display: table-cell;
	vertical-align: middle;
	width: auto;
	height: 40px;
	margin: 0px 10px;
	border: none;
	padding: 0px;
	color: #111;
	font-size: 10.5px;}
/*.categorias*/ .forabg .row .description br,
/*.categorias*/ .forabg .row .lastpost br {display: none;}
	/*Estilo de Contenido en Descripción*/
	.description div {
		height: 40px;
		color: #111;}
	.description .inner {
		display: table-cell;
		vertical-align: middle;}
		.description .dinfo {
			visibility: hidden;
			opacity: 0;
			width: 100%;
			margin-right: 10px;
			padding-left: 10px;
			text-align: left;
			transition: visibility 0s linear 0.5s,opacity 0.5s linear;
			-moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
			-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;}
		/*.categorias*/ .forabg .row .dterm h3:hover ~ .description .dinfo {
			opacity: 1;
			visibility: visible;
			transition-delay:0s;}
		.description .dlinks {
			display: table;
			margin-top: -40px;
			width: 100%;
			text-align: center;
			transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;}
		/*.categorias*/ .forabg .row .dterm h3:hover ~ .description .dlinks {
			opacity: 0;}
		.description a {
			display: inline-block;
			vertical-align: middle;
			max-width: 140px;
			padding: 3px 5px;
			color: #111;
			font-family: 'Open Sans Condensed';
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;}
			.description a:before {content: '/ '; color: #DD2F3A}
			.description a:hover {color: #DD2F3A;} 

/*.categorias*/ .forabg .row .lastpost {
	width: 420px;
	border-top: 3px solid #111;
    background-image: linear-gradient(-45deg, rgba(201, 201, 201,.5) 25%, transparent 25%, transparent 50%, rgba(201, 201, 201,.5) 50%, rgba(201, 201, 201,.5) 75%, transparent 75%, transparent);
    background-size: 4px 4px;	margin: 0;
	padding: 0px;
	padding-left: 5px;
	text-align: left;}
	/*Lastpost*/
	/*.categorias*/ .lastpost-topic {
		  display: table-cell !important;
		  vertical-align: middle;
		  word-wrap: break-word;
		  height: auto;
		  margin: 0px;
		  padding: 5px 0px;
		  text-align: left;}
		  /*.categorias*/ .lastpost-topic {
			  color: rgba(0, 0, 0, 0);
			  font-size: 0px;}
	/*.categorias*/ .forabg .row .lastpost a {
		padding: 0 5px 0 0px;
		font-weight: 700;
		font-size: 15px;
		text-transform: capitalize;}
	
	/*.categorias*/ .forabg .row .lastpost .color-groups {
		float: none;
		display: inline;
		padding: 0px;
		font-size: 15px;
		font-weight: 100;
		text-transform: lowercase;}
			/*.categorias*/ .forabg .row .lastpost .gensmall:before {
				content: 'by';
				cursor: default;
				color: #111;
				font-family: 'Open Sans Condensed';
				font-size: 12px;
				font-weight: 400;
				text-transform: lowercase;
				padding-right: 5px;}
	/*.categorias*/ .lastpost-avatar {
		display: none;
		float: left;
		width: 115px;
		height: 115px;
		margin: 0px;
		border-radius: 0px;
		padding: 17.5px !important;}
	/*.categorias*/ .lastpost-avatar .border {
		position: relative;
		overflow: hidden;
		width: 80px;
		height: 80px;}
	/*.categorias*/ .lastpost-avatar img {
		opacity: 1;
		width: inherit;
		height: initial;
		margin: 0px;
		border-radius: 0px;}
	/*.categorias*/ .forabg .row .lastpost .last-post-icon {display: inline-block;}

/*Categorias ON ROL*/
/*.categorias*/ .forabg[data-title*="—"] {
	position: relative;}
/*Header*/
/*.categorias*/ .forabg[data-title*="—"] .header .dterm {
	position: absolute;
	z-index: 2;}
	
/*Cuerpo*/
/*.categorias*/ .forabg[data-title*="—"] .row {
	z-index: 2;
	position: relative;
	width: 840px;
	height: 200px;
	margin: 10px 20px;
	padding: 6px 10px;
	background-color: rgba(255,255,255,.2);}

/*.categorias*/ .forabg[data-title*="—"] .row .dterm {
	position: relative;
	z-index: 2;
	top: 0px;
	width: 485px;
	padding-top: 40px}
	/*.categorias*/ .forabg[data-title*="—"] 
	.row .dterm a.forumtitle,
	/*.categorias*/ .forabg[data-title*="—"] 
	.row .dterm a.forumtitle sup {
		color: #F2F2F2 !important;
		text-shadow: 0 0 1px #000, 0 0 1px #000;}
	/*.categorias*/ .forabg[data-title*="—"] .row .topics {
		margin: 0;
		border: none;
		color: #C9C9C9;
		text-align: center;
		text-shadow: 0 0 1px #000, 0 0 1px #000;}	

/*.categorias*/ .forabg[data-title*="—"] .row .places {
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 818px;
	height: 198px;
	overflow: hidden;}
	/*.categorias*/ .forabg[data-title*="—"] .row .p-desc {
		position: absolute;
		z-index: 5 !important;
		top: 5px;
		left: 100%;
		width: 330px;}
	/*.categorias*/ .forabg[data-title*="—"] .row .p-desc div {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		height: 188px;}
	/*.categorias*/ .forabg[data-title*="—"] .row .p-desc span {
		background-color: rgba(0,0,0,.5);
		padding: 10px;
		color: #C9C9C9}
	
/*.categorias*/ .forabg[data-title*="—"] .row .lastpost br {display: block;}
/*.categorias*/ .forabg[data-title*="—"] .row .lastpost {
	position: absolute;
	z-index: 2;
	top: 90px;
	left: 0;
	width: 345px;
	background-color: rgba(0,0,0,.5);
	margin: 0px 70px;
	border: none;
	padding: 0px;
	padding-right: 5px;
	color: #9C9C9C !important;
	font-family: 'Open Sans Condensed'}
	/*.categorias*/ .forabg[data-title*="—"] .lastpost-topic {
		color: inherit;
		font-size: inherit;}
			/*.categorias*/ .forabg[data-title*="—"] .row .lastpost .gensmall:before {
				color: #9C9C9C;}
	/*.categorias*/ .forabg[data-title*="—"] .lastpost-topic {height: 70px;}
	/*.categorias*/ .forabg[data-title*="—"] .row .lastpost a {font-size: 12px;}
	/*.categorias*/ .forabg[data-title*="—"] .lastpost-avatar {
		display: inline-block !important;
		width: 70px;
		height: 70px;
		padding: 10px !important;}
	/*.categorias*/ .forabg[data-title*="—"] .lastpost-avatar .border {
		width: 50px;
		height: 50px;}
/*.categorias*/ .forabg[data-title*="—"] .row span.lastpost-topic a,
/*.categorias*/ .forabg[data-title*="—"] .row span.lastpost-topic a span[style*="color:#000000"] {
	color: #C9C9C9 !important;}

/* ----------------------------
----------- memberlist_body
----------- LISTA DE MIEMBROS
-----------------------------*/
.forumbg-table th i {
	font-style: normal
}
.forumbg-table td.avatar-mini .box {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 40px;
	margin: 0px;
	padding: 0px 5px}
.forumbg-table td.avatar-mini .border {
	overflow: hidden;
	width: 40px;
	height: 40px;}
.forumbg-table td.avatar-mini img {
	opacity: 1;
	width: inherit;
	height: initial;
	margin: 0px;
	border-radius: 0px;}


/* ----------------------------
----------- SEARCH_RESULS_TOPICS
----------- RESULTADOS DE BÚSUQEDA/TEMAS
-----------------------------*/
form .forabg {
	border-bottom: 1px dashed #C9C9C9;
	padding: 5px;
}
/*Cabecera*/
form .forabg .header {
	background-color: rgba(204,204,204,.2);
	margin-bottom: 10px;
	border-bottom: 2px solid #525252;
	padding: 5px 10px;
}
form .forabg .header dt,
form .forabg .header dd {
	margin: 0px;
	border: none;
	padding: 0px;
}
form .forabg .header dt {
	width: 535px;
	color: #DD2F3A;
}
/*Cuerpo*/
form .forabg .row  {
	display: table;
	width: 100%;
}
form .forabg .row .dterm {width: 540px !important;}
form .forabg .row .posts,
form .forabg .row. views {width: 70px}
form .forabg .row .lastpost {width: 200px;}
/*All*/
form .forabg .row .dterm,
form .forabg .row .posts,
form .forabg .row .views,
form .forabg .row .lastpost {
	float: none !important;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Open Sans Condensed';
}


/* ----------------------------
----------- TOPIC_LIST_BOX
----------- ANUNCIO DE LOS TEMAS
-----------------------------*/
.forumbg {
	border-bottom: 1px dashed #C9C9C9;
	padding-bottom: 5px;
}
/*Cabecera*/
.forumbg .header {
	background-color: rgba(204,204,204,.2);
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5px;
	border-bottom: 2px solid #525252;
	padding: 0px 10px;
}
.forumbg .header dt,
.forumbg .header .dterm {
	float: none;
	display: inline-block;
	width: 620px;
	margin: 0px;
	padding: 0px !important;
	color: #DD2F3A;
	font-weight: 700;
}
.forumbg .header .posts,
.forumbg .header .views {display: none;}
.forumbg .header .lastpost {
	float: none;
	display: inline-block;
	width: 200px;
	color: #111;
}
	
/*Cuerpo*/
.forumbg .row  {
	display: table;
	width: 100%;
}
.forumbg dl.icon:after {
	line-height: 0px; !important;
}
	/*Descripción del Tema*/
	.forumbg .row .dterm {width: 490px;}
	/*Respuestas & Vistos*/
	.forumbg .row .posts,
	.forumbg .row .views {
		width: 70px;
		line-height: 100%;}
	.forumbg .posts dfn, 
	.forumbg .views dfn {
		display: block !important;
		font-style: normal;
		font-weight: 400;
		text-transform: lowercase;
	}
	/*Ultimos Temas*/
	.forumbg .row .lastpost {width: 260px;}
	.forumbg	.lastpost-avatar {
		float: left;
		width: 55px;
		height: 55px;
		margin: 0 0 0 10px;
		border-radius: 0px;
		border: 1px solid #C9C9C9;
		padding: 4px !important;}
	.forumbg .lastpost-avatar .border {
		position: relative;
		overflow: hidden;
		width: 45px;
		height: 45px;}
	.forumbg .lastpost-avatar img {
		opacity: 1;
		width: inherit;
		height: initial;
		margin: 0px;
		border-radius: 0px;}
	.forumbg .lastpost-topic {
		display: table-cell !important;
		vertical-align: middle;
		height: 55px;
	}

/*All*/
.forumbg .row .dterm,
.forumbg .row .posts,
.forumbg .row .views,
.forumbg .row .lastpost {
	float: none !important;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Open Sans Condensed';
}

/* ----------------------------
----------- VIEWFORUM_BODY
----------- ANUNCIO DE UN FORO
-----------------------------*/
/* ----------- PAGINATION*/
.pagination {
	margin-bottom: 5px;
	padding-right: 10px;
	font-size: 10px;
}

/*ESTILO DENTRO DE UN ROW */
.row .pagination {
	background: url('https://s5.postimg.org/lgfbnxax3/Pages.png') left center no-repeat !important;
	margin-bottom: 0px;
}
.pagination span a,
.pagination span a:active,
.pagination span a:link,
.pagination span a:visited {
	background-color: rgba(204,204,204,.3);
	border-color: #C9C9C9;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	padding: 0px 4px;
}
.pagination span a:hover {
	background-color: #DD2F3A;
	border-color: #DD2F3A;
	color: #F6F6F6;
}
.pagination span strong {
	background-color: #111;
	border-color: #111;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	padding: 0px 4px;
}
.pagination span {
	line-height: 13px;
}
.pagination span a.pag-img {
	background-color: transparent !important;
	margin: 0px;
	padding: 0px;
}
.pagination span a.pag-img img {
	transition: all 0.0s ease-out;
	-moz-transition: all 0.0s ease-out;
	-webkit-transition: all 0.0s ease-out;
}

/* ----------- TOPIC ACTIONS*/
.topic-actions {
	display: block;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.nomargin.path, .pathname-box, form .topic-actions p {
	float: none;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	background-image: linear-gradient(-45deg, rgba(201, 201, 201,.5) 25%, transparent 25%, transparent 50%, rgba(201, 201, 201,.5) 50%, rgba(201, 201, 201,.5) 75%, transparent 75%, transparent);
	background-size: 4px 4px;
	color: #111111;
	font-weight: 700;
}
form .topic-actions p {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
form p.left-box {
	border: none;
	letter-spacing: 2px;
}
p.left-box {
    float: left;
    text-align: center;
    width: 100%;
    display: block;
    border-top: 1px dashed #C9C9C9;
    letter-spacing: 10px;
    padding-top: 10px;
}

/* ----------- BOTONES*/
.buttons {
	float: none;
	display: inline-block;
	margin: 10px 0px;
}


/* ----------- SPRITE CSS*/
/*DIRECCIONES*/
.sprite-arrow_prosilver_down{
	background: url("https://s5.postimg.org/45owvwj9j/Se_al_Abajo.png") no-repeat;
	background-position: top left;
	width:9.4px;
	height:9.4px;
	}
.sprite-arrow_prosilver_left{
	background: url("https://s5.postimg.org/fyrbdv53b/Se_al_Izquierda.png") no-repeat;
	background-position: top left;
	width:9.4px;
	height:9.4px;
	}
.sprite-arrow_prosilver_right{
	background: url("https://s5.postimg.org/601rdn69z/Se_al_Derecha.png") no-repeat;
	background-position: top left;
	width:9.4px;
	height:9.4px;
	}
.sprite-arrow_prosilver_up{
	background: url("https://s5.postimg.org/3u7gj52tj/Se_al_Arriba.png") no-repeat;
	background-position: top left;
	width:9.4px;
	height:9.4px;
	}
.sprite-arrow_prosilver_down:hover,
.sprite-arrow_prosilver_left:hover,
.sprite-arrow_prosilver_right:hover,
.sprite-arrow_prosilver_up:hover {
	background-position: bottom left;
}

/* ----------- PIE DE HERRAMIENTAS*/
.forum-footer {
	background-color: rgba(204,204,204,.0);
	border-top: 5px solid #DD2F3A;
}
.forum-footer .permissions, 
.forum-footer .jumpbox, 
.forum-footer .users, 
.forum-footer .legend {
	display: inline-block;
	vertical-align: top;
	margin: 1%;
}
.forum-footer .users {width: 56%;}
.forum-footer .jumpbox {width: 40%;}
.forum-footer .permissions {width: 30%;}
.forum-footer .legend {width: 66%;}
.forum-footer .legend b {
	vertical-align: top;
	font-weight: 400;
	line-height: 30px;
}

/* ----------------------------
----------- VIEWTOPIC_BODY
-----------------------------*/
.post {
	background-color: rgba(255,255,255,.9);
	margin-top: 5px;
	margin-bottom: 20px;
	border-width: 0px;
	border-style: ridge;
	border-color: #C9C9C9;
	box-shadow: 0px 1px 2px #C9C9C9, 0px -1px 2px #C9C9C9;
	padding: 10px;
}

	.forumbg	.lastpost-avatar {
		float: left;
		width: 55px;
		height: 55px;
		margin: 0 0 0 10px;
		border-radius: 0px;
		border: 1px solid #C9C9C9;
		padding: 4px !important;}
	.forumbg .lastpost-avatar .border {
		position: relative;
		overflow: hidden;
		width: 45px;
		height: 45px;}
	.forumbg .lastpost-avatar img {
		opacity: 1;
		width: inherit;
		height: initial;
		margin: 0px;
		border-radius: 0px;}


/*COLUMNA UNO*/
.postbody {width: 650px;}
.postbody .post-info {
	display: table;
	width: 100%;
	margin: 0px 10px 10px 0px ;
	text-align: left;
	border-bottom: 1px solid #C9C9C9;
}
.postbody .post_title table {width: 100%;}
.postbody .post_title .ptitle_user {
	width: 80px;
	height: 70px;}
.postbody .post-user {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	width: 65px;
	height: 65px;
	padding-left: 10px}
	/*Avatar*/
	.postbody .post-user .p-user {
		float: left;
		width: 65px;
		height: 65px;
		padding: 5px;}
	.postbody .post-user .p-user .border,
	.postbody .post-user .p-user a {
		display: block;
		overflow: hidden;
		width: 55px;
		height: 55px;
		border-radius: 50%;}
	.postbody .post-user .p-user img,
	.postbody .post-user .p-user a img {
		width: 175%;
		height: initial;
		position: relative;
		left: 50%;
		margin: auto;
		margin-right: 50%;
		transform: translate(-50%, -10px)}
	.online {background-image: none;}
	.postbody .online {
		z-index: 5;
		display: inline-block;
		position: absolute;
		bottom: 5px;
		right: 25px;
		width: 18px;
		height: 18px;
		background-color: #05CC47;
		margin: 0 -20px 0 0;
		border-radius: 50%;
		border: 3px solid rgba(255,255,255,1);
		padding: 0;
		color: #05CC47;
		font-size: 17px;
		text-align: right;
		text-transform: uppercase;}
	.postbody .ptitle_user .post_avatar .online:before {content: '•';}

.postbody .post-tools {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding: 10px;}
	/*Info*/
	.postbody .post-tools .topic-title {
		font-family: 'Open Sans Condensed';
		font-size: 11px;}
	.postbody .post-tools p.author {
		display: block;
		margin: 0px;
		padding: 0px;
		font-family: 'Open Sans Condensed';
		font-size: 11px;}
	/*Iconos*/
	.postbody .post-tools ul.profile-icons {
		position: absolute;
		bottom: 15px;
		right: 0px;
		margin: 0px;}
	.postbody ul.profile-icons {margin: 0px;}
	.postbody ul.profile-icons li {
		display: inline-block;
		height: 20px;
		overflow: hidden;}
	ul.profile-icons img {
		margin-top: 0px;
		transition: all 0.0s ease-out;
		-moz-transition: all 0.0s ease-out;
		-webkit-transition: all 0.0s ease-out;}
	ul.profile-icons img:hover {margin-top: -20px;}

.postbody .content {
	padding: 10px;
	color: #525252;
	font-family: "Segoe UI", sans-serif;
	text-align: justify;
}
/* ----------- SPOILER, QUOTE, CODE, HIDE*/
blockquote {
	margin: 5px;
	padding: 5px 10px;
	background: #F8F8F8 url("https://i.imgur.com/nywm6NK.png") no-repeat;
	background-position: 10px 7px;
	background-size: 12px;
	border-width: 0px 0px 1px 0px;
	border-color: rgba(204,204,204,.5);
	border-style: solid;
	color: #525252;
	font-size: 12px;
	overflow: hidden;
}
blockquote blockquote {
	background-color: transparent;
	font-size: 11px;
	margin: 0.5em 15px 0pt 5px;
	}
blockquote cite {
	color: #111;
	font-family: 'Open Sans Condensed';
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	}
blockquote cite cite {font-size: 1em;}

/*Code, Spoiler, Hiden block*/
dl.codebox {
	margin: 0px 5px;
	padding: 5px 0;
	background-color: #F8F8F8;
	border-width: 0px 0px 1px 0px;
	border-color: rgba(204,204,204,.5);
	border-style: solid;
}
dl.codebox dt {
	margin: 0px 10px 5px 10px;
	border-width: 0px 0px 2px 0px;
	border-color: #111;
	border-style: solid;
	padding: 0px 0px 3px 0px;
	color: #111;
	font-family: 'Open Sans Condensed';
	font-size: 14px;
	letter-spacing: 1px;
	text-indent: 25px;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
dl.codebox dt:hover {border-color: #DD2F3A;}
dl.codebox dt a, dl.codebox.hidecode:before {
	float: right;
	color: #DD2F3A;
	font-size: 9px;
	padding-top: 2px;
	letter-spacing: 5px;
	text-align: right;
}
dl.codebox code, .spoiler_content.hidden  {
	margin: 10px 20px 5px 20px;
	border-width: 0px 0px 0px 1px;
	border-color: #C9C9C9;
	border-style: solid;
	padding: 5px;
	color: #111;
}
dl.codebox.hidecode {
	background-color: #FEFEFE;
	padding: 0 10px 10px 10px;
}
dl.codebox.hidecode:before {
	content: 'Contenido Oculto';
	display: block;
	float: none;
	font-family: 'Open Sans Condensed';
	color: #C9C9C9;
	text-transform: uppercase;
}
	
/*COLUMNA DOS*/
.postprofile {
	position: relative;
	width: 220px;
	height: 100% !important;
	border: 0px;}
/*INVITADOS*/
.postprofile .p-unrank {
	background-image: url(https://s5.postimg.org/3semzue13/Invitados.png);
	background-color: #F3F3F0;
	padding: 30px 10px 10px 10px;
	color: #9C9C9C;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #111, 0px 0px 1px #111;
	letter-spacing: 5px;}
.postprofile .p-unrank .p-name {
	margin: 10px;
	border-top: 2px groove #9C9C9C;
	padding-top: 10px;
	color: #9C9C9C;
	font-family: 'Open Sans Condensed';
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0px;}
.postprofile .p-unrank .p-avatar {
	height: 200px;
	overflow: hidden;}

/*MIEMBROS*/
.postprofile .p-color ~ br,
.postprofile .p-color i {display: none;}
.postprofile .p-color b {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 200px;
	color: #F2F2F2;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	text-shadow: 0px 0px 1px #111, 0px 0px 1px #111;
	text-transform: uppercase;
	letter-spacing: 10px;}
.postprofile .p-color ~ .p-field {
	background-color: #F3F3F0;
	background-repeat: no-repeat;
	padding: 10px;}
/*Rangos*/
.postprofile .p-color.r-staff ~ .p-field {background-image: url(https://s5.postimg.org/kjzyile9z/Staff_02.png);}
.postprofile .p-color.r-alpha ~ .p-field {background-image: url(https://s5.postimg.org/t7d5wls3r/Alpha_02.png);}
.postprofile .p-color.r-beta ~ .p-field {background-image: url(https://s5.postimg.org/m6p63tqbr/Beta_02.png);}
.postprofile .p-color.r-omega ~ .p-field {background-image: url(https://s5.postimg.org/bnp6ennnr/Omega_02.png);}
.postprofile .p-color.r-miembro ~ .p-field {background-image: url(https://s5.postimg.org/58q5hzgxz/Miembro_02.png);}

/*Nombre de Usuario*/
.postprofile .p-profile .p-color ~ .p-field .p-name {
	width: 200px;
	margin-top: 35px;
	padding: 10px;
	text-align: center;}
	.postprofile .p-profile .p-color ~ .p-field .p-name a {
		display: block;
		width: 188px;
		border-top: 2px groove #F2F2F2;
		padding-top: 10px;}
	.postprofile .p-profile .p-color ~ .p-field .p-name span strong {
		font-family: 'Open Sans Condensed' !important;
		font-size: 22px;
		line-height: 19px;
		letter-spacing: .5px;}
	.postprofile .p-profile .p-color ~ .p-field .p-name span strong {
		color: #F2F2F2;
		text-shadow: 0px 0px 1px #111, 0px 0px 1px #111;}
	.postprofile .p-profile .p-color ~ .p-field .p-name span strong:hover {
		color: inherit;}

/*Avatar*/
.postprofile .p-profile .p-color ~ .p-field .p-avatar {
	width: 200px;
	height: 350px;
	margin-bottom: -350px;
	overflow: hidden;
	opacity: 1;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;}
	.postprofile .p-profile .p-color ~ .p-field .p-avatar img {
		position: relative;
		left: 50%;
		margin: auto;
		margin-right: 50%;
		transform: translate(-50%, 0px);}
.postprofile .p-profile .p-color ~ .p-field:hover .p-avatar {
	opacity: 0;
	margin-left: 220px;
	}
/*Contenido*/
.postprofile .p-profile .p-color ~ .p-field .p-content {
	width: 200px;
	height: 350px;
	background-color: rgba(0,0,0,.5);
	padding: 10px;}
	/*.p-color.r-staff ~ .p-field .p-content {background-color: rgba(221,47,58,.5)}
.p-color.r-alpha ~ .p-field .p-content {background-color: rgba(165,53,64,.5);}
.p-color.r-beta ~ .p-field .p-content {background-color: rgba(80,102,75,.5);}
.p-color.r-delta ~ .p-field .p-content {background-color: rgba(138,102,54,.5);}
.p-color.r-omega ~ .p-field .p-content {background-color: rgba(24,76,82,.5);}
.p-color.r-miembro ~ .p-field .p-content {background-color: rgba(39,17,11,.5);}*/

.postprofile .p-profile .p-color ~ .p-field .p-content .ctnt {
	height: 100%;
	border: 1px solid #F2F2F2;
	padding: 10px;
	color: #F2F2F2;}
	/*Mini-Avatar*/
	.postprofile .p-profile .p-color ~ .p-field .p-content .c-img {
		float: right;
		width: 92px;
		height: 92px;
		border: 1px solid #F2F2F2;
		padding: 0px;}
	.postprofile .p-profile .p-color ~ .p-field .p-content .c-img .border {
		overflow: hidden;
		width: 90px;
		height: 90px;}
	.postprofile .p-profile .p-color ~ .p-field .p-content .c-img img {
		width: inherit;
		height: initial;
		border-radius: 0px;
		pointer-events: none;}
	/*Info*/
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(2),
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(3) {
		width: 60px;
		height: 43px;
		background-color: rgba(0,0,0,0);
		margin-bottom: 6px;
		border: 1px solid #F2F2F2;
		padding: 5px;
		font-size: 20px;
		text-align: center;
		line-height: 20px;}
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(2):after,
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(3):after {
		display: block;
		color: #F3F3F0;
		font-family: 'Open Sans Condensed';
		font-size: 10px;
		font-weight: 400;
		text-align: center;
		line-height: 10px;
		text-transform: uppercase;}
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(2):after {content: 'Mensajes';}
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(3):after {content: 'Años';}
	/*Labels*/
	.postprofile .p-profile .p-color ~ .p-field .p-content .label {display: none}
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(2) .label,
	.postprofile .ctnt .c-img ~ .c-info:nth-of-type(3) .label {display: none !important}
	.postprofile .p-profile .p-color ~ .p-field .p-content .c-info .label {display: inline;}
	.postprofile .p-profile .p-color ~ .p-field .p-content .c-info .label {
		color: transparent;
		font-family: 'Open Sans Condensed';
		font-size: 11px;
		text-align: left;
		text-transform: uppercase;}
	.postprofile .p-profile .p-color ~ .p-field .p-content .ctnt .c-info .label i {
		display: block;
		border-bottom: 1px dashed #F2F2F2;
		color: #F2F2F2;
		font-style: normal;
		letter-spacing: 2px;}
/*Rango*/		
.postprofile .p-profile .p-color ~ .p-field .p-rank img {
	margin-top: 5px;
	pointer-events: none;}
/*Links*/
.postprofile .p-profile .p-color ~ .p-field .p-links {
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 70px;
	text-align: center;
}
		


/* Invitados ----------- TEMAS SIMILARES*/
#ptrafic_close, #ptrafic_open {
	width: 95%;
	background-color: rgba(204,204,204,.1);
	margin: 0px auto;
	margin-top: 10px;
  	box-shadow: none;
	border: 1px solid #9C9C9C;
}

/* ----------- PIE DE HERRAMIENTAS*/
.topic-footer {
	background-color: rgba(204,204,204,.0);
	border-top: 5px solid #DD2F3A;
}
.topic-footer .permissions, 
.topic-footer .tools {
	display: inline-block;
	vertical-align: top;
	margin: 1%;}
.topic-footer .permissions,
.topic-footer .tools {width: 48%;}



/* ----------------------------
----------- AVATARS & PERFILES	
-----------------------------*/


/* ----------------------------
----------- FORMATOS VARIADOS	
-----------------------------*/
::selection {
    background: #FF2F3A;
	color: #F2F2F2;
}	

p {
	margin: 0px;
}
fieldset {
	padding: 5px;
}
fieldset dl dt i, 
fieldset dl dt b {font-style: normal; font-weight: 400;}
form .panel {
	margin-top: 20px;}
.panel {
	padding: 0px 10px;
}
.panel.bg1 .left-box dt i,
.panel.bg1 .left-box dt b {font-style: normal; font-weight: 400;}
.inputbox, input:-webkit-autofill {
	background-color: rgb(255,255,255) !important;
	border-color: #C9C9C9;
	color: #111111;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
    padding: 5px;
    margin: 5px;
}
input[type=radio], input[type=checkbox] {/**/
	width: 14px !important;
	height: 14px;
	background-color: #F2F2F2;
	margin: 1px 4px;
	padding: 0px;
	border: 3px solid #F2F2F2;
	border-radius: 50%;
	color:#FFF;
	-webkit-appearance:button;
	box-shadow: 0px 1px 1px #9C9C9C;
}
input[type="radio"]:checked, input[type=checkbox]:checked {/**/
	background-color: #DD2F3A !important;
	border-radius: 50%
}

label {
	color: #525252 !important;
}
select {
	border-color: #C9C9C9 !important;
}
table {
	border-spacing: 0;
}
#plus_menu {
	background-color: rgba(255,255,255,.9);
	padding-bottom: 5px;
}

/* ----------- MENÚ DE MENSAJES PRIVADOS*/
#privmsgs-menu {
	margin-top: 10px;
	padding: 0px !important;
	border-bottom: 1px dashed #9C9C9C;
	color: #DD2F3A;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
ul#privmsgs-menu li {
	display: inline-block;
	margin: 0px 2%;
	line-height: 30px;
	vertical-align: bottom;
}
#privmsgs-menu li img {
	display: block;
	padding: 5px;
	margin: 0px auto;
}
p.right {float: right;}

/* ----------- EDITAR PERFIL ATRIBUTOS*/
#tabs {
	margin-left: 20px !important;
}
#tabs .activetab a, #tabs .activetab a span {
	background-color: #111111 !important;
	border: none;
	color: #c9c9c9 !important;
}
#cp-main .panel.sig {
	background-color: #C9C9C9 !important;
}
#cp-main {
	width: 100%;
	margin: 0px;
	border-color: #111111;
	border-width: 30px 0px 0px 10px;
	border-style: solid;
	padding: 10px;
}
#cp-main td.icon {width: 30px;}
/* ----------- CAJA FLOTANTE DE BUSQUEDA*/
.center-overview, .center-overview a:link {
	color: #9C9C9C;
}
#search-box, .search-box {
	display: none;
}

/* ----------- EDITOR DE TEXTO*/
.sceditor-button, .sceditor-button div {
	box-sizing: content-box !important;
}

/* ----------- COLOR HOVER DE ROWS*/
li.row,
table.table1 tbody tr,
table.table1 tbody tr.hover,
table.forumline tr:hover td {
	border: none;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
li.row:hover,
table.table1 tbody tr:hover,
table.table1 tbody tr.hover,
table.forumline tr:hover td {
	background-color: rgba(0,0,0,.1);
}
/*ESQUINAS REMOVIDAS, ESPACIOS REMOVIDOS*/
span.corners-bottom, span.corners-bottom span, span.corners-top, span.corners-top span {
	display: none !important;
}

/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip {
	/* basic */
	max-width:300px;
	z-index:1000;
	margin: 24px 0px 0px 0px;
	/* style and design */
    background: #F2F2F2;
	border: 1px solid #c9c9c9;
    color: #111;
    font-family: 'Open Sans Condensed';
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    padding: 2px 5px;
    text-transform: uppercase;
}

/* ----------- FECHA DEL FORO */

p.last-visit, p.current {
	display: none;}
.forum-time p.last-visit, .forum-time p.current {
	display: block !important;}
	
.forum-time .visita, .forum-time .actual {
	letter-spacing: 2px;}	
	
.forum-time {
	z-index: 97;
	position: relative;
	top: 160px;
	max-width: 1150px;
    min-width: 960px;
	width: auto;
	margin: auto;
	padding: 0 50px;
	text-align: right;
	color: #111;
	font-size: 10px !important;
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	letter-spacing: 7px;
	text-transform: uppercase;
}
.forum-time > .current {
    position: relative;
    top: -30px;
}
.forum-time .last-visit + .current {
    position: relative;
    top: 0px !important;
}



/* ----------------------------
----------- NAVEGACIÓN FIJA Y FLOTANTE PERSONALIZADA	
-----------------------------*/
/*General*/
#navStatic {
	position: relative; 
	top: 40px;
	width: 100%;
	height: 25px;
	color: #111;
    z-index: 1000;
}
#navStatic .main-nav {
	float: right;
}
/**/
#navStatic ul {
	height: auto;
    margin:0;
    padding:0;
    list-style:none;
}
#navStatic ul:before,.nav ul:after {
    content:"";
    display:table;
}
#navStatic ul:after {
    clear:both;
}
#navStatic ul li,
#navStatic ul li ul li {
    float: left;
    position: relative;
	text-align: center;
}
#navStatic ul.main-nav > li {
}

/*Esconder sub links*/
#navStatic ul li ul {
	float: right;
    z-index: 1;
	width: 150px;
	margin-left: 0px;
}
#navStatic ul li ul li /*Nivel dos*/,
#navStatic ul.main-nav li ul li ul li /*Nivel tres*/ {
    overflow:hidden;
    height: 0px;
	transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	-webkit-transition: all .4s ease-out;
}
#navStatic ul li ul li {
	float: right;
	width: 150px;
	margin: 0px;
}
#navStatic ul li a {
	display: block;
}

/*Monstrar sublinks*/
#navStatic ul li:hover ul li /*Nivel Dos*/,
#navStatic ul li ul li:hover ul li /*Nivel Tres*/ {
	height: 25px;
}
#navStatic li:hover li {
	position: static;
}

/*Monstrar sub sublinks*/
#navStatic ul li ul ul {
	position: absolute;
	margin: -25px 0 0 -150px;}

/*Estilo de color*/
#navStatic ul.main-nav li:hover a,
#navStatic ul.main-nav li:hover ul li:hover a,
#navStatic ul.main-nav li:hover ul li:hover ul li a:hover {
	color: #DD2F3A}
	#navStatic ul.main-nav li:hover ul li a,
	#navStatic ul.main-nav li:hover ul li:hover ul li a {
		color: #111;}
#navStatic ul li ul {
	background-color: #FEFEFE;
}

/*Estilo de la Fuente*/
#navStatic a {
	padding: 5px 10px;
	color: #111;
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}
#navStatic a:hover {
	color: #DD2F3A;
}

a#logo-menu {
	position: absolute;
	font-size: 35px;
	font-weight: 400;
	line-height: 15px;
}
a.alt {
	letter-spacing: 5px;
}
/*Flechas*/
#navStatic li.arrow > a.alt:after {
	content: url(http://i68.servimg.com/u/f68/15/78/66/50/admin-10.gif);
	padding-top: 5px;
	float: right;
}
#navStatic ul li ul li.arrow > a:before {
	content: url(https://i.imgur.com/Srq0z2D.png);
	float: left;
}
/*Fixed*/
#navStatic.navFix {
	position: fixed !important;
    top: 0px !important;
	left: 0px !important;
	background-color: #111;
	padding-right: 30px;
	color: #F2F2F2;
    width: 100%;
}
#navStatic.navFix a {
	color: #F2F2F2;
}
/*Estilo de color*/
#navStatic.navFix ul.main-nav li:hover a,
#navStatic.navFix ul.main-nav li:hover ul li:hover a,
#navStatic.navFix ul.main-nav li:hover ul li:hover ul li a:hover {
	color: #DD2F3A}
	#navStatic.navFix ul.main-nav li:hover ul li a,
	#navStatic.navFix ul.main-nav li:hover ul li:hover ul li a {
		color: #F2F2F2;}
#navStatic.navFix ul li ul {
	background-color: rgba(0,0,0,.5);
}
#navStatic.navFix #new_message ~ ul a.full:hover {color: #111 !important;}

/*Extras*/
#new_message {
	float: left;
	position: relative;
	top: -25px;
	display: inline-block;
	margin-left: -5px;
}
#new_message:after {
	content: '';
	clear: both;
}
#new_message img {
	width: 10px;
	height: 10px;
}
#new_message ~ ul a.empty {display: none;}
#new_message ~ ul a.full {display: block !important; background: #DD2F3A !important;}
#new_message ~ ul a.full:hover {color: #F2F2F2 !important;}
a.alt ~ ul a.full {display: none !important;}